# Objects and Data Structures Assessment Test

---

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: We use primarily ints, which are whole numbers, and floats, which are decimals or exponentials defined by either xEy or xey.

Strings: Strings are sequences of characters which are indexed and iterable. They are also immutable but can be concatenated and reassigned.

Lists: Lists are sequences of objects which are indexed and iterable. They are mutable, can be concatenated and can be nested.

Tuples: Tuples are sequences of objects which are indexed and iterable. They are immutable (and therefore have less methods) but can be concatenated and nested. Tuples are used to maintain data integrity and ensure its values are not changed.

Dictionaries: Dictionaries are mappings, which are unordered key:values pairs. They are mutable and can be nested.

---

## Numbers

**1.** Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [7]:
10**3*2/20+4-3.75

100.25

**2.** Explain what the cell below will produce and why. Can you change it so the answer is correct?

It will produce 0 because Python 2 uses classic division and drops all decimal points. To fix it, we can cast one or both operators as a float or make them a float value.

In [ ]:
2/3

In [8]:
float(2)/3

0.6666666666666666

In [9]:
2/3.0

0.6666666666666666

**3.** Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [12]:
print "4 * (6 + 5) will evaluate to 44: " + str(4 * (6 + 5))
print "4 * 6 + 5 will evaluate to 29: " + str(4 * 6 + 5)
print "4 + 6 * 5 will evaluate to 34: " + str(4 + 6 * 5)

4 * (6 + 5) will evaluate to 44: 44
4 * 6 + 5 will evaluate to 29: 29
4 + 6 * 5 will evaluate to 34: 34

**4.** What is the *type* of the result of the expression 3 + 1.5 + 4?

Float because any arithmetic including ints and floats will result in a float type.

**5.** What would you use to find a numberâ€™s square root, as well as its square?

In [20]:
# As we haven't learned about the math library yet, I would use **
print "%1.0f" %(4**0.5)
print "%1.0f" %(4**2)

2
16

---

## Strings

**6.** Given the string 'hello' give an index command that returns 'e'.

In [21]:
s = 'hello'

s[1]

'e'

**7.** Reverse the string 'hello' using indexing.

In [23]:
s ='hello'

s[::-1]  # s.reverse() would also work

'olleh'

**8.** Given the string hello, give two methods of producing the letter 'o' using indexing.

In [24]:
s ='hello'

print s[4]
print s[-1]

o
o

---

## Lists

**9.** Build this list [0,0,0] two separate ways.

In [25]:
list_1 = [0,0,0]
list_2 = [0] * 3
list_3 = [0] + [0] + [0]

print list_1
print list_2
print list_3

[0, 0, 0]
[0, 0, 0]
[0, 0, 0]

**10.** Reassign 'hello' in this nested list to say 'goodbye' item in this list:

In [29]:
l = [1,2,[3,4,'hello']]

l[2][2] = 'goodbye'
l

[1, 2, [3, 4, 'goodbye']]

**11.** Sort the list below:

In [30]:
l = [3,4,5,5,6]

l.sort()
l

[3, 4, 5, 5, 6]

---

## Dictionaries

**12.** Using keys and indexing, grab the 'hello' from the following dictionaries:

In [32]:
d = {'simple_key':'hello'}

d['simple_key']

'hello'

In [33]:
d = {'k1':{'k2':'hello'}}

d['k1']['k2']

'hello'

In [34]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

d['k1'][0]['nest_key'][1][0]

'hello'

In [35]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?

You cannot sort a dictionary because keys can be a variety of types and they are an unordered mapping of key:value pairs.

---

## Tuples

**13.** What is the major difference between tuples and lists?

Tuples are immutable while lists are mutable.

**14.** How do you create a tuple?

In [37]:
my_tuple = (1,'two',3.0,"four")
my_tuple

(1, 'two', 3.0, 'four')

---

## Sets

**15.** What is unique about a set?

Haha very funny. A set is a collection of unique items (which are also unordered and its objects are immutable).

**16.** Use a set to find the unique values of the list below:

In [38]:
l = [1,2,2,33,4,4,11,22,3,3,2]

set(l)

{1, 2, 3, 4, 11, 22, 33}

---

## Booleans

For the following quiz questions, we will get a preview of comparison operators:

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td></td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

**17.** What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [39]:
2 > 3

# False

False

In [40]:
3 <= 2

# False

False

In [41]:
3 == 2.0

# False

False

In [42]:
3.0 == 3

# True

True

In [44]:
4 ** 0.5 != 2

# False

False

**18.** What is the boolean output of the cell block below?

In [45]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
l_one[2][0] >= l_two[2]['k1']

# 3 >= 4
# False

False